<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - </title>

</head>
<body>

<!--
    STRUCTURE
        - ABOUT
            - APPLICATION
                - WHY BUILT?
                - WHAT BUILT WITH
                    - FLASK, PYTHON, MD BOOTSTRAP
                -

            - DEVELOPER
                - BIO ABOUT ME
                - LINK TO GITHUB
                - LINK TO LINKED IN

-->
<header>

    <div id="cd">PALT</div>
    <nav id="cd-top-nav">

    </nav>
    <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text"></span><span class="cd-menu-icon"></span></a>
</header>
<nav id="cd-lateral-nav">
    <ul class="cd-navigation cd-single-item-wrapper">
        <li><a class="current" href="/">Packet Handler</a></li>
        <li><a href="about">About</a></li>
        <li><a href="interfaces">Interfaces</a></li>
        <li><a href="analysishub">Analysis Hub</a> </li>
    </ul> <!-- cd-single-item-wrapper -->
</nav>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>