{% include 'head-static.html' %}
<title>Analysis Hub - PALT</title>
<body>

{% include 'nav-static.html' %}

<main class="cd-main-content">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <h1>Packet Analysis</h1>
                <br>
                {{ pandas_web | safe }}
            </div>
        </div>


        <br>

        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success active" role="button" aria-pressed="true">Start Capture</button>
                <button type="button" class="btn btn-danger">Stop Capture</button>
            </div> <!-- col-md-3 -->
        </div> <!-- row -->

        <br>

        <div class="row">
            <div class="col-lg-12">
                <h1>How to get Started</h1>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sapien pharetra, tempor justo id,
                    aliquam lorem. Fusce at aliquam odio, et efficitur lectus. Aliquam ornare, lorem a aliquam efficitur,
                    enim tortor accumsan metus, a viverra dolor libero ac ex.
                    Morbi euismod felis lacus, nec condimentum felis pellentesque ullamcorper. Pellentesque habitant
                    morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                </p>
            </div> <!-- col-lg-12 -->
        </div><!-- row -->

        <br>

        <div class="row">
            <div class="col-lg-12">
                <h1>Panes for Eth, IPv4, TCP/UDP, ICMP</h1>
            </div><!-- col-lg-12 -->
        </div><!-- row -->
    </div><!-- container -->
</main> <!-- cd-main-content -->
<!--


        - PANED WINDOWS
            - PANES
                - INFO MESSAGE / NO PANED DISPLAYED = "CLICK A PACKET FORM THE TABLE ABOVE TO DISPLAY ITS CONTENTS"
                - IP (STATIC)
                - TCP / UDP (STATIC)
                - HTTP
                    - HTTP RESPONSE CODES
                - ARP
                    - ARP RESPONSE CODES
                - SNMP
                    - ?
                - CAPTURED DATA

         - BUTTONS
            - START PACKET CAPTURE
                - GREYED OUT IF ALREADY RUNNING CAPTURE
            - END PACKET CAPTURE
                - GREYED OUT IF ALREADY STOPPED CAPTURE

        - HELP SECTIONS
            - PACKET STRUCTURES
            - DESCRIBE LAYOUT

-->
{% include 'js-static.html' %}
</body>
</html>
<script>
$(document).ready(function () {
        $.ajax({
            url: '/interfaces',
            type: 'POST',
            data: 'pandas_web',
            success: function (response) {
            alert('Winning');
            console.log(pandas_web);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>