{% include 'head-static.html' %}
<title>Analysis Hub - PALT</title>
<body>

{% include 'nav-static.html' %}

<main class="cd-main-content">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <h1>Packet Analysis</h1>
                <hr>
                <div class="table-responsive" style="height: 400px;">
                    {{ pandas_web | safe }}
                </div>
                <br>

                {% if eth_info != [] %}
                <!--       eth ACCORDION BUTTON         -->
                    <button class="accordion">ETH INFO</button>
                    <div class="panel">
                    <h4>--Ethernet--</h4>
                    <p>Ethernet is blah blah blah</p>
                        {% for dict_item in eth_info %}
                            <h3>{{ loop.index }}</h3>
                            <br>
                            {% for key, value in dict_item.items() %}
                                <button class="inner-accordion">{{ key | safe }}</button>
                                <div class="inner-panel">
                                    {% if key == 'Protocol' %}
                                        <br>
                                        <p>{{ value | safe }}</p>
                                        <br>

                                        <p>PROTOCOL TEST</p>

                                    {% elif key == 'Destination Address' %}
                                        <h5>What is the Destination Address?</h5>
                                        <hr>
                                        <p>A destination address is...</p>
                                        <br>
                                        <p>Packet's Destination Address: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Source Address' %}
                                        <h5>What is the Source Address?</h5>
                                        <p>A source address is...</p>
                                        <br>
                                        <p>Packet's Source Address: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Address' %}
                                        <h5>What is the Address?</h5>
                                        <p>An address is...</p>
                                        <br>
                                        <p>Packet's Address: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Type' %}
                                        <h5>What is the Type</h5>
                                        <p>A Type is...</p>
                                        <br>
                                        <p>Packet's Type: {{ value | safe }}</p>
                                        <br>

                                    {% else %}
                                        <p>Data not found</p>

                                    {% endif %}
                                </div>
                            {% endfor %}
                            <br>
                        {% endfor %}
                    </div>
                {% endif %} <!-- End ETH -->

                {% if ip_info != [] %}
                <!--       IP ACCORDION BUTTON         -->
                    <button class="accordion">IP INFO</button>
                    <div class="panel">
                    <br>
                    <h4>IP Information</h4>
                    <hr>
                    <p>IP is the ...</p>
                        {% for dict_item in ip_info %}
                            {{ loop.index }}
                            {% for key, value in dict_item.items() %}
                                <button class="inner-accordion">{{ key | safe }}</button>
                                <div class="inner-panel">
                                 {% if key == 'Version' %}
                                     <h5>What is ....</h5>
                                     <p>A thing is...</p>
                                    <br>
                                     <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Header Length' %}
                                    <h5>What is the ...</h5>
                                    <p>A Type is...</p>
                                    <br>
                                    <p>Packet's Type: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Type of Service' %}
                                    <h5>What is the Type</h5>
                                    <p>A Type is...</p>
                                    <br>
                                    <p>Packet's Type: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Total Length' %}
                                    <h5>What is the ...</h5>
                                    <p>A Type is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Identification' %}
                                    <h5>What is the ...</h5>
                                    <p>A Type is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Flags' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Fragment Offset' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Time To Live' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Protocol' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Protocol Number' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Header Checksum' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Source Address' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Destination Address' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Checksum Status' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 <!-- IPv6 Data Display -->
                                 {% elif key == 'Traffic Class' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Traffic Class ECN' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Traffic Class DSCP' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Flow Label' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Payload Length' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Next Header' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Hop Limit' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Source Address' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% elif key == 'Destination Address' %}
                                    <h5>What is the ...</h5>
                                    <p>A ... is...</p>
                                    <br>
                                    <p>Packet's ...: {{ value | safe }}</p>
                                    <br>

                                 {% else %}
                                     <p>Error</p>
                                     {{ key | safe }}:{{ value | safe }}

                                {% endif %}
                                </div>
                            {% endfor %}
                            <br>
                        {% endfor %}
                    </div>
                {% endif %} <!-- end IP -->

                <!--       TCP ACCORDION BUTTON         -->
                {% if tcp_info != [] %}
                    <button class="accordion">TCP HEADER INFO</button>
                    <div class="panel">
                    <br>
                        {% for dict_item in tcp_info %}
                            {{ loop.index }}
                            {% for key, value in dict_item.items() %}
                                <button class="inner-accordion">{{ key | safe }}</button>
                                <div class="inner-panel">
                                    {% if key == 'Source Port' %}
                                        <h5>What is the ...</h5>
                                        <p>A ... is...</p>
                                        <br>
                                        <p>Packet's ...: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Destination Port' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>
                                    {% elif key == 'Destination Port' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Sequence Number' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Acknowledgment Number' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Reserve' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Flags' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Window Size' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Checksum' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Checksum Status' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% elif key == 'Urgent Pointer' %}
                                            <h5>What is the ...</h5>
                                            <p>A ... is...</p>
                                            <br>
                                            <p>Packet's ...: {{ value | safe }}</p>
                                            <br>

                                    {% else %}
                                        <p>{{ key | safe }}: {{ value | safe }}</p>
                                        <br>
                                    {% endif %}
                            {% endfor %}
                            <br>
                        {% endfor %}
                    </div>
                {% endif %} <!-- end TCP -->

                {% if udp_info != [] %}
                    <!--        UDP ACCORDION BUTTON         -->
                    <button class="accordion">UDP HEADER INFO</button>
                    <div class="panel">
                        {% for dict_item in udp_info %}
                                {{ loop.index }}
                                {% for key, value in dict_item.items() %}
                                    <button class="inner-accordion">{{ key | safe }}</button>
                                    <div class="inner-panel">
                                    {% if key == 'Source Port' %}
                                        <h5>What is the ...</h5>
                                        <p>A ... is...</p>
                                        <br>
                                        <p>Packet's ...: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Dest. Port' %}
                                        <h5>What is the ...</h5>
                                        <p>A ... is...</p>
                                        <br>
                                        <p>Packet's ...: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Length' %}
                                        <h5>What is the ...</h5>
                                        <p>A ... is...</p>
                                        <br>
                                        <p>Packet's ...: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Checksum' %}
                                        <h5>What is the ...</h5>
                                        <p>A ... is...</p>
                                        <br>
                                        <p>Packet's ...: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Checksum Status' %}
                                        <h5>What is the ...</h5>
                                        <p>A ... is...</p>
                                        <br>
                                        <p>Packet's ...: {{ value | safe }}</p>
                                        <br>

                                    {% elif key == 'Protocol' %}
                                        <h5>What is the ...</h5>
                                        <p>A ... is...</p>
                                        <br>
                                        <p>Packet's ...: {{ value | safe }}</p>
                                        <br>

                                    {% else %}
                                        <p> data error</p>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                                <br>
                            {% endfor %}
                    </div><!-- inner panel -->
                {% endif %}
            </div><!-- panel-->
        </div><!-- row -->

        <br>

        <div class="row">
            <div class="col-lg-12">
                <h1>How to get Started</h1>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sapien pharetra, tempor justo id,
                    aliquam lorem. Fusce at aliquam odio, et efficitur lectus. Aliquam ornare, lorem a aliquam efficitur,
                    enim tortor accumsan metus, a viverra dolor libero ac ex.
                    Morbi euismod felis lacus, nec condimentum felis pellentesque ullamcorper. Pellentesque habitant
                    morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                </p>
            </div> <!-- col-lg-12 -->
        </div><!-- row -->

        <br>


    </div><!-- container -->
</main> <!-- cd-main-content -->

{% include 'js-static.html' %}
</body>
</html>


<script>
    var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
</script>

<script>
    var acc = document.getElementsByClassName("inner-accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
</script>
<!--
<script>
$(document).ready(function () {
        $.ajax({
            url: '/interfaces',
            type: 'POST',
            data: 'pandas_web',
            success: function (response) {
            alert('Packet Analysis beginning');
            console.log(pandas_web);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>
-->