<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis Hub</title>
</head>
<body>
<!--

    STRUCTURE
        - TABLE
            - CAPTURED PACKETS
                - COLUMNS
                    - #
                    - TIME (YY:MM:DD HH:MM:SS)
                    - SOURCE IP ADDRESS
                    - DESTINATION IP ADDRESS
                    - PROTOCOL
                    - SOURCE MAC ADDRESS
                    - DESTINATION MAC ADDRESS
                    - SOURCE PORT
                    - DESTINATION PORT
        - PANED WINDOWS
            - PANES
                - INFO MESSAGE / NO PANED DISPLAYED = "CLICK A PACKET FORM THE TABLE ABOVE TO DISPLAY ITS CONTENTS"
                - IP (STATIC)
                - TCP / UDP (STATIC)
                - HTTP
                    - HTTP RESPONSE CODES
                - ARP
                    - ARP RESPONSE CODES
                - SNMP
                    - ?
                - CAPTURED DATA

         - BUTTONS
            - START PACKET CAPTURE
                - GREYED OUT IF ALREADY RUNNING CAPTURE
            - END PACKET CAPTURE
                - GREYED OUT IF ALREADY STOPPED CAPTURE

        - HELP SECTIONS
            - PACKET STRUCTURES
            - DESCRIBE LAYOUT

-->

</body>
</html>