{% include 'head-static.html' %}
<title>Help - Resources</title>

<body>
{% include 'nav-static.html' %}

<!--
    STRUCTURE
        - NETWORKING HELP
            - LINKS TO INFO STUFF

        - ISSUE WITH APPLICATION
            - CONTACT LINK
            - LINK TO GITHUB ISSUES PORTAL


-->

<main class="cd-main-content">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-6 col-md-6">
                <h3><i class="fa fa-book"></i> Help - Resources</h3>
                <hr><br>
                <ul>
                    <li>
                        Resource: <a href="#">Res1</a>
                    </li>
                    <br>
                    <li>
                        Resource: <a href="#">Res2</a>
                    </li>
                </ul>
            </div> <!-- Help - Resources -->

            <div class="col-md-6 col-md-6">
                <h3><i class="fa fa-comments"></i> Contact</h3>
                <hr>
                <br>
                <ul>
                    <li>
                        <i class="fa fa-envelope"></i><a href="#"> By Email</a>
                    </li>
                    <br>
                </ul>
            </div> <!-- Contact -->
        </div> <!-- row -->

        <br>
        <!-- ISSUES -->
        <div class="row">
            <div class="col-lg-3">
                <h3><i class="fa fa-github"></i> Issues</h3>
                <hr>
                <p><i class="fa fa-github-square"></i><a href="https://github.com/DGregan1/fypFlask/issues"> To create an Issue</a></p>
            </div> <!-- col-lg-3 -->
        </div> <!-- row -->

    </div> <!-- container -->
</main> <!-- cd-main-content -->
{% include 'js-static.html' %}
</body>
</html>