{% include 'head-static.html' %}
<title>Index - PALT</title>

<body>
{% include 'nav-static.html' %}

<div class="intro-header">
            <img class="img-responsive" src="{{ url_for('static', filename='img/bg.png') }}" alt="">
     </div>
<main class="cd-main-content" >

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h1 align="center">Packet Analyzing Learning Tool</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Overview</h3>
                <br>
                <p>
                    Learning about Network Traffic for the first time can be a challenging experience for a
                    Computer networking novice or student. Packet Analysing Learning Tool (PALT) will attempt to erode
                    the arduous task of mastering the fundamentals of Networking Traffic.
                </p>
                <br>
                <p>
                    This will be accomplished by providing an environment where
                    users can learn about network traffic through the capture of live traffic and the dissecting of
                    packets travelling across the network. The captured network packets will then be inspected and return
                    the analysed contents to the users.
                </p>
            </div><!-- col-lg-12 -->

        </div><!-- row -->

        <br>
        <hr>

        <div class="row" align="center">
            <div class="col-md-4">
                <a href="about">
                    <img class="img-center img-responsive img-center" src="{{ url_for('static', filename='img/fadesktop.png') }}">
                </a>
                <h2>About Application</h2>
                <hr>
                <p>A synopsis of what the application is about, built with and who by.</p>
            </div>
            <div class="col-md-4">
                <a href="interfaces">
                    <img class="img-center img-responsive img-center" src="{{ url_for('static', filename='img/fatable.png') }}">
                </a>
                <h2>Select Network Interface</h2>
                <hr>
                <p>The first step is The Select a Network Interface Device to capture live traffic to be used in learning.</p>
            </div>
            <div class="col-md-4">
                <a href="resources">
                    <img class="img-center img-responsive img-center" src="{{ url_for('static', filename='img/fabook.png') }}">
                </a>
                <h2>Learning Resources</h2>
                <hr>
                <p>Resources to assist in learning about Network Traffic.</p>
            </div>
        </div><!-- row -->
        <br><br>
    </div><!-- container -->
</main> <!-- cd-main-content -->
{% include 'footer.html' %}
{% include 'js-static.html' %}
</body>
</html>