{% include 'head-static.html' %}
<title>Index - PALT</title>

<body>
{% include 'nav-static.html' %}

<main class="cd-main-content">
    <div class="row image-bg-fluid-height">
            <img class="img-responsive" src="{{ url_for('static', filename='img/index-bg.jpeg') }}" alt="">
            <div class="col-lg-12 ">
                <img class="img-center" src="{{ url_for('static', filename='img/logow.png') }}" alt="">
            </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Test</h4>
                <p>esthgjdjnf</p>
            </div>
        </div>

    </div>
</main> <!-- cd-main-content -->



<!--
    STRUCTURE
        - Index
            - Overview
                - What this web app does
                - Info returned??
-->


<!-- Initalising js -->
{% include 'js-static.html' %}
</body>
</html>