
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% include 'head-static.html' %}
    <title>PALT - Packet Analyzing Learning Tool</title>
</head>
<body>
<header>

    <div id="cd">Packet handler</div>
    <nav id="cd-top-nav">

    </nav>
    <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text"></span><span class="cd-menu-icon"></span></a>
</header>
<main class="cd-main-content">
    <div class="container">
        <br><br>

    </div>
</main> <!-- cd-main-content -->

<nav id="cd-lateral-nav">
    <ul class="cd-navigation cd-single-item-wrapper">
        <li><a class="current" href="/">Packet Handler</a></li>
        <li><a href="about">About</a></li>
        <li><a href="interfaces">Interfaces</a></li>
        <li><a href="analysishub">Analysis Hub</a> </li>
    </ul> <!-- cd-single-item-wrapper -->
</nav>



<!--
    STRUCTURE
        - Index
            - Overview
                - What this web app does
                - Info returned??
-->


<!-- Initalising js -->
{% include 'js-static.html' %}
</body>
</html>