<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% include 'head-static.html' %}
    <title>PALT - Interface Selection</title>
</head>
<body>
<header>

    <div id="cd">Interfaces Selection</div>
    <nav id="cd-top-nav">

    </nav>
    <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text"></span><span class="cd-menu-icon"></span></a>
</header>
{% include 'nav-static.html' %}


<main class="cd-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center">
            <!-- Display all devices found -->
                <hr>
                <h2>All Devices Found:</h2>
                <hr>
                {% for device in all_devices %}
                    {{  device | safe }}
                    <br><br>
                {% endfor %}
            </div>
        </div> <!-- END ROW -->
        <br><br>

        <!-- Info about all found devices -->
        <div class="row">
            <div class="col-md-6 col-md-6">
                <h4>Info</h4>
                <p>lorem sdfhdjgjndfcgk</p>
            </div>
            <div class="col-md-6 col-md-6">
                <h4>Info 2</h4>
                <p>dsghjdskfjgbfndlv v </p>
            </div>
        </div>

        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h3 align="center">Active Devices:</h3>
                <hr>
            </div>
            <div class="col-6 col-md-4">
                <br>
                 {% for device in active_devices %}
                    {{  device | safe }}
                {% endfor %}

                <form action="" id="form" method="post" name="form" onsubmit="return init();">
                    <select class='form-control' id="host" name="host"
                            onchange="this.form.submitBtn.disabled=this.options[this.selectedIndex].value==''"></select>
                    <input class="btn btn-success" id="submitBtn" name="submitBtn" type="submit" value="Submit"
                           onclick="this.disabled=true;this.form.submit();this.value='processing...';"
                           disabled="disabled">
                </form>

                <br><br><br>

                <div align="center">
                    {{ web_tables | safe }}
                </div>
            </div>
            <div class="col-6 col-md-4">
            </div> <!-- col-6 col-md-4 -->
        </div> <!-- row -->
    </div><!-- container -->
</main> <!-- cd-main-content -->
{% include 'js-static.html' %}
</body>
</html>


<!--
    STRUCTURE
        - SEARCH FOR INTERFACES
            - BUTTON TO SEARCH FOR DEVICES 'BEGIN SEARCH'
                - DISPLAY ALL FOUND DEVICES
                - DISPLAY DEVICES THAT CAN CAPTURE DATA

            - FILTER OPTIONS
                - DISPLAY PRE-FILTER OPTIONS
                    - IP, TCP, UDP, HTTP,
                    - HAVE OWN FILTER LIST?

            - BUTTON
                - START ANALYSIS
                    - SHOULD USE SELECTED INTERFACE / FILTERS AND INITIATED PACKET HANDLER

            - HELP SECTION
                - INFO
                    - WHAT THE SEARCH DOES
                    - WHAT WAS RETURNED
-->

