{% include 'head-static.html' %}
<title>Select Interface - PALT</title>

<body>
{% include 'nav-static.html' %}


<main class="cd-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center">
            <!-- Display all devices found -->
                <hr>
                <h2>All Devices Found:</h2>
                <hr>
            </div>
        </div> <!-- END ROW -->
        <br>

        <!-- Display all Devices found -->
        <div class="row">
            <div class="col-md-6 col-md-6">
                <div class="list-group">
                    <ul>
                    {% for device in all_devices %}
                        <li class="list-group-item">{{  device | safe }}</li>
                    {% endfor %}
                        </ul>
                </div> <!-- list-group -->
            </div>
            <div class="col-md-6 col-md-6">
                <h4>Information about Devices</h4>
                <br>
                <p>These devices are all network devices found on the machine.</p>
            </div>
        </div>

        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h3 align="center">Active Devices:</h3>
                <hr>
            </div>

            <div class="col-lg-3"></div>

            <div class="col-lg-6" >
            <p>
                The active interfaces on the system are interfaces where network packet capture is possible.
                Select an interface below and 'Submit' to begin the packet capture.
            </p>
            <br>
                <form action="/analysishub" method="POST">
                    <select name="selected_interface" title="interface selection" class="form-control">
                        {% for device in active_devices %}
                            <option>{{ device | safe }}</option>
                        {% endfor %}
                    </select> <!-- select -->
                <br>
                 <input type="submit" class="btn btn-success" id="submitButton" role="button" value="Submit">
                </form><!-- form -->
                <br><br><br>
            </div>
            <div class="col-lg-3"></div>
        </div> <!-- row -->
    </div><!-- container -->
</main> <!-- cd-main-content -->
{% include 'js-static.html' %}
</body>
</html>
