
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">
                    <img class=""  src="{{ url_for('static', filename='img/brand.png') }}" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="about"><i class="fa fa-fw fa-desktop"></i> About</a>
                    </li>
                    <li>
                        <a href="interfaces"><i class="fa fa-fw fa-table"></i> Interfaces</a>
                    </li>
                    <li>
                        <a href="help"><i class="fa fa-fw fa-file"></i> Help</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </div><!-- containter-fluid-->
</nav>
