{% include 'head-static.html' %}
<title>Help - Resources</title>

<body>
{% include 'nav-static.html' %}
<main class="cd-main-content">
    <div class="container">
        <br><br>

        <div class="row">
            <div class="col-lg-12">
                <h4 align="center">Resources</h4>
                <hr>
                <p align="center">This web page provides several resources for several networking topics.</p>
                <hr>

            </div> <!-- col-lg-12 -->
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-6 col-md-6">
                <div class="list-group list-group">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Protocol Header Structures</a>
                        <a href="http://www.omnisecu.com/tcpip/internet-layer.php" class="list-group-item">IPv4 Header</a>
                        <a href="http://www.omnisecu.com/tcpip/ipv6/ipv6-datagram-header-format.php" class="list-group-item">IPv6 Header</a>
                        <a href="http://www.omnisecu.com/tcpip/tcp-header.php" class="list-group-item">TCP Segment Header</a>
                        <a href="http://www.omnisecu.com/tcpip/udp-user-datagram-protocol.php" class="list-group-item">UDP Segment Header</a>
                    </div> <!-- list-group -->


                    <div class="list-group">
                        <a href="https://getbootstrap.com/" class="list-group-item active">BootStrap</a>
                        <a href="#" class="list-group-item">HTML5</a>
                        <a href="#" class="list-group-item">CSS</a>
                        <a href="#" class="list-group-item">Javascript</a>
                    </div> <!-- list-group -->
                </div>
            </div> <!-- Help - Resources -->

            <div class="col-md-6 col-md-6">
                 <div class="list-group list-group">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Protocols - What are they, what do they do?</a>
                        <a href="http://www.omnisecu.com/tcpip/internet-layer.php" class="list-group-item">IPv4</a>
                        <a href="http://www.omnisecu.com/tcpip/ipv6/ipv6-features.php" class="list-group-item">IPv6 </a>
                        <a href="http://www.omnisecu.com/tcpip/transmission-control-protocol-tcp.php" class="list-group-item">TCP</a>
                        <a href="http://www.omnisecu.com/tcpip/udp-user-datagram-protocol.php" class="list-group-item">UDP</a>
                    </div> <!-- list-group -->


                    <div class="list-group">
                        <a href="https://getbootstrap.com/" class="list-group-item active">BootStrap</a>
                        <a href="#" class="list-group-item">HTML5</a>
                        <a href="#" class="list-group-item">CSS</a>
                        <a href="#" class="list-group-item">Javascript</a>
                    </div> <!-- list-group -->
                </div>
            </div>
        </div>

        <br>
        <!-- ISSUES -->
        <div class="row">
            <div class="col-md-6 col-md-6">
                <h3><i class="fa fa-github"></i> Issues</h3>
                <hr>
                <p>If you have encountered any issues while using this application, please submit these issues to:</p>
                <p><i class="fa fa-github-square"></i><a href="https://github.com/DGregan1/fypFlask/issues"> To create an Issue</a></p>
            </div> <!-- col-lg-3 -->

            <div class="col-md-6 col-md-6">
                <h3><i class="fa fa-comments"></i> Contact</h3>
                <hr><br>
                <p>C</p>
            </div> <!-- Contact -->
        </div> <!-- row -->

    </div> <!-- container -->
</main> <!-- cd-main-content -->
{% include 'footer.html' %}
{% include 'js-static.html' %}
</body>
</html>